.no-network {
  height: 100vh;
  background-color: #025dac;
  width: 100%;
  display: grid;
  place-items: center;

  p {
    background-color: rgb(255, 208, 208);
    border: 2px solid red;
    border-radius: 0.5rem;
    padding: 5rem;
    color: red;
  }
}

.third-section {
  height: 100vh;
  width: 100%;
  background-color: #002035;

  .max {
    max-width: 140.5rem;
    .flex {
      padding: 0 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bg {
        opacity: 0.12;
        position: absolute;
        transform: scaleX(-1);
        left: 12rem;
        top: 7rem;
      }
      .title {
        display: flex;
        align-items: flex-end;
        width: 20rem;
        margin: 6rem 0 0 0;

        p {
          color: rgba(255, 255, 255, 0.863);
          font-size: 3.5rem;
          margin: 0 1rem;
          margin-bottom: 0.9rem;
        }
        img {
          width: 20rem;
        }
      }
      .content {
        margin: 5rem 0;
        position: relative;
        .img {
          position: absolute;
          right: 0;
          top: -56%;
          width: 35rem;
          img {
            width: 100%;
          }
        }
        .order {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          background-color: rgba(0, 4, 40, 0.418);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 3;
          a {
            background-color: yellow;
            padding: 2rem 3rem;
            color: white;
            z-index: 4;
          }
        }
        p {
          color: white;
        }
        .card {
          width: 99%;
          height: 15rem;
          background-color: white;
          color: white;
          padding: 1rem;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          p {
            width: 100%;
            height: auto;
            position: absolute;
            line-height: 1.3;
            bottom: -9%;
            left: 0;
            z-index: 99;
            color: white;
            background-color: #0020356e;
            backdrop-filter: blur(0.2rem);
            padding: 0.5rem 0.8rem;
            font-size: 1.4rem;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@media (max-width: 1065px) {
  .third-section {
    padding-bottom: 4rem;
    height: auto;
    .max {
      .flex {
        padding: 1rem;
        .bg {
          top: 10%;
          left: 0;
          width: 100%;
        }
        .title {
          width: 23rem;
          font-size: 2.5rem;
          margin: 1rem 0 3rem 0;
          img {
            width: 18rem;
          }
          p {
            font-size: 3.1rem;
            margin-bottom: 0.85rem;
          }
        }
        .content {
          margin: 0;
          .img {
            display: none;
          }
        }
      }
    }
  }
}
