.max {
  max-width: 140.5rem;

  .recovery {
    padding: 1rem 14%;

    height: 100vh;

    .recovery-container {
      margin: 3rem 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: auto;
      .login-register {
        position: relative;
        border: 1px solid rgb(145, 145, 145);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem 3rem;
        height: 17rem;
        h1 {
          text-align: left;
          color: white;
          background-color: #0074bf;
          padding: 0.2rem 1rem;
          font-size: 1.6rem;
          font-weight: normal;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        a {
          display: block;
          width: 100%;
          font-size: 1.8rem;
          line-height: 1;
          font-weight: 300;
          color: black;
          background: rgb(255, 255, 255);
          padding: 1rem 10px;
          margin: 0.3rem auto;
          text-align: center;
          border: rgb(177, 177, 177) 1px solid;
          border-radius: 0;
          cursor: pointer;
          &:hover {
            background-color: rgb(243, 243, 243);
          }
        }
      }
    }
  }
}
@media (max-width: 1065px) {
  .max {
    .recovery {
      height: auto;
      margin: 13rem 0;
      padding: 1rem 3%;
      p {
        padding-left: 0;
        line-height: 1.5;
        font-size: 1.5rem;
      }
      .login-register {
        margin: 5rem 0;

        a {
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .login-register {
    width: 100%;
  }
}
