.recovery {
  padding: 1rem 14%;
  height: 100vh;
  h1 {
    font-weight: bold;
    font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic',
      'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif, Osaka;
    color: #4d4d4d;
    font-size: 24px;
  }
  .hint {
    border-left: 1rem solid #0074bf;
    padding: 1rem 1rem;
    font-size: 2.2rem;
  }
  hr {
    border: 0;
    height: 1px;
    color: #d6d6d6;
    background-color: #c4c4c4;
  }
  p {
    padding-left: 12%;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  .container {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .login-register {
      position: relative;
      border: 1px solid rgb(145, 145, 145);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 3rem;
      height: 15rem;
      h1 {
        text-align: left;
        color: white;
        background-color: #0074bf;
        padding: 0.2rem 1rem;
        font-size: 1.6rem;
        font-weight: normal;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
      a {
        border: #c4c4c4 solid 1px;
        color: black;
        padding: 0.3rem 1rem;
        border-radius: 3px;
        text-align: center;
        margin: 0.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .recovery {
    height: auto;
    margin: 13rem 0;
    padding: 1rem 3%;
    p {
      padding-left: 0;
      line-height: 1.5;
      font-size: 1.5rem;
    }
    .login-register {
      margin: 5rem 0;
      width: 100%;
      a {
        width: 100%;
        padding: 1rem;
      }
    }
  }
}
