.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 101;
}
.confirmation {
  z-index: 102;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 300%;
  background-color: rgba(0, 0, 0, 0.363);
  backdrop-filter: blur(0.5rem);
  color: white;
  font-size: 1.7rem;
  width: 26rem;
  height: auto;
  line-height: 1.2;
  text-align: center;
  p {
    margin: 2rem 0 1rem 0;
    padding: 0;
    font-weight: bolder;
    font-size: 1.8rem;
  }
  h6 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0.5rem 3rem 2rem 3rem;
  }
  hr {
    margin: 0;
    padding: 0;
    border: 0;
    height: 1px;
    color: #525252;
    background-color: #525252;
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    a {
      padding: 0.7rem;
      color: white;
      width: 100%;
      font-weight: normal;

      &:hover {
        background-color: orangered;
        color: white;
      }
    }
  }
}
