.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 5;
}
.confirmation {
  z-index: 6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 300%;
  background-color: rgba(255, 255, 255, 0.925);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.7rem;
  width: 26rem;
  height: auto;
  line-height: 1.2;
  border-top: 1.5rem solid #0074bf;
  text-align: center;
  p {
    margin: 2rem 0 0 0;
    padding: 0;
    font-weight: bolder;
  }
  h6 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0.5rem 3rem 2rem 3rem;
  }
  hr {
    margin: 0;
    padding: 0;
    border: 0;
    height: 1px;
    color: #dad8d8;
    background-color: #dad8d8;
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    a {
      padding: 0.7rem;
      color: #1538d8;
      width: 100%;
      font-weight: 400;
      &:hover {
        background-color: rgb(230, 230, 230);
      }
    }
  }
}
