.max {
  max-width: 140.5rem;
  display: block;
  margin: 0 auto;
  .second-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 3%;
    position: relative;
    img {
      width: auto;
      height: 110vh;
    }
    .content {
      position: absolute;
      top: 5%;
      right: 7%;
      width: 50%;
      .blue {
        background-color: #e3f2fcde;
        padding: 2rem 3rem 4rem 3rem;
        h1 {
          color: #0074bf;
          font-weight: bolder;
        }
        p {
          line-height: 1.5;
          margin: 2rem 0 4rem 0;
        }
        a {
          padding: 1rem 2rem;
          color: white;
          background-color: #0074bf;
          transition: all ease-in-out 200ms;
          &:hover {
            background-color: orangered;
          }
        }
      }
      .red {
        background-color: rgba(253, 230, 222, 0.842);
        padding: 2rem 3rem 4rem 3rem;
        h1 {
          color: orangered;
          font-weight: bolder;
        }
        p {
          line-height: 1.5;
          margin: 2rem 0 4rem 0;
        }
        a {
          padding: 1rem 2rem;
          color: white;
          background-color: orangered;
          transition: all ease-in-out 200ms;
          &:hover {
            background-color: #0074bf;
          }
        }
      }
    }
  }
}

@media (max-width: 1065px) {
  .max {
    .second-section {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      position: relative;
      img {
        display: none;
      }
      .content {
        background-color: #e3f2fc;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 5rem 2rem 2rem 2rem;
      }
    }
  }
}
