.products-page {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 15rem;
  padding: 0 5%;
  .sidebar {
    width: 20rem;
  }
  .products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .btn {
    position: absolute;
    width: 50%;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .products-page {
    padding: 0;

    .sidebar {
      display: none;
    }
    .btn {
      width: 90%;
    }
  }
}
