.products {
  display: flex;
  padding: 13rem 12rem 0 12rem;
  .productResults {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .products {
    flex-direction: column;
    padding: 13rem 2rem 0 2rem;
    .productResults {
      height: 100vh;
      width: 100%;
    }
  }
}
