.btn {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 300;
  color: black;
  background: rgb(255, 255, 255);
  padding: 1rem 10px;
  margin: 0 auto;
  border: rgb(177, 177, 177) 1px solid;
  border-radius: 0;
  cursor: pointer;
  &:hover {
    background-color: rgb(243, 243, 243);
  }
}
