.btn {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 300;
  color: white;
  background: orangered;
  padding: 1rem 10px;
  margin: 0 auto;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: #1a1a1a;
  }
}
