.overlay-close {
  position: absolute;
  position: relative;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 10;
}

.announcement {
  position: absolute;
  position: fixed;
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  width: 33rem;

  .close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.3rem solid white;
    background-color: #0074bf;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    top: -4%;
    right: -7%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .announcement {
    .close {
      border: 0.3rem solid white;
    }
  }
}
