.prompt {
  position: absolute;
  background-color: #1a1a1a;
  width: 22rem;
  height: 5rem;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  display: none;
  z-index: 10;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.27);
  h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 0;
  }
}
.header-bg-contact {
  width: 100%;
  height: 9rem;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.contact-page {
  height: 100vh;
  width: 100%;
  margin-top: 9rem;
  background-color: #1a1a1a;
  display: flex;
  .img {
    flex: 1;
    width: 100%;
    height: auto;
    background-color: black;
    img {
      opacity: 0.7;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .form {
    flex: 1;
    display: flex;
    width: 80rem;
    height: auto;
    margin-top: 3rem;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 3rem 5rem;
      color: white;
      h1 {
        color: white;
        margin-bottom: 3rem;
      }
      label {
        margin: 1rem 0;
        font-size: 2rem;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
      }
      input,
      textarea,
      .contact-btn {
        margin: 0.8rem 0;
        outline: none;
      }
      input,
      textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid orangered;
        color: white;
        font-size: 1.8rem;
      }
      input,
      textarea {
        padding: 0.8rem 0.5rem;
        border-radius: 0;
        resize: none;
      }

      .contact-btn {
        border: 1px solid orangered;

        width: 30rem;
        color: white;
        margin-top: 5rem;
        padding: 1.5rem 0;
        font-size: 1.6rem;
        cursor: pointer;
        &:hover {
          border: none;
          background-color: orangered;
        }
      }
    }
    .img {
      width: 40rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact-page {
    padding: 0;
    .form {
      width: 100%;
      margin-top: 5rem;

      form {
        padding: 2rem;
        h1 {
          font-size: 2.5rem;
        }
        label,
        input,
        textarea {
          font-size: 1.5rem;
        }
        .contact-btn {
          width: 100%;
          padding: 1.5rem 0;
        }
      }
    }
    .img {
      display: none;
    }
  }
}
