.checkout {
  margin: 2rem auto;
  min-height: 80vh;
  max-height: 100%;
  h1 {
    display: block;
    width: 16rem;
    text-align: center;
    margin: 3rem auto;
    border-bottom: 0.5rem solid orangered;
    padding-bottom: 1rem;
  }

  .checkoutHeader {
    border-bottom: 1px solid black;
  }

  .cart {
    max-width: 100rem;
    margin: 0 auto;

    table {
      width: 100%;
    }
  }

  .checkoutHeader,
  .cart {
    width: 100%;
    text-align: left;

    th,
    td {
      width: 22%;
    }
  }

  .cartItem {
    td img {
      display: block;
      width: 100%;
    }
  }

  .cartBtns {
    display: block;
    width: 100%;
  }

  .cartBtn {
    cursor: pointer;
  }
}

.no-order {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  img {
    width: 50rem;
  }
}
@media only screen and (max-width: 980px) {
  .checkoutHeader {
    display: none;
  }
  .checkout .cart td {
    display: block;
    width: 100%;
  }
  .no-order {
    img {
      width: 100%;
    }
  }
}
