.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 9rem;
  color: #fff;
  background: transparent;
  z-index: 50;
  border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
  .max {
    max-width: 140.5rem;
    .wrap {
      height: 9rem;
      display: flex;
      align-items: center;
      .logo {
        width: 25rem;
        height: 9rem;
        border-right: rgba(255, 255, 255, 0.1) 2px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 15rem;
          height: auto;
          border: none;
        }
      }

      .callToActions {
        display: flex;
        align-items: center;
        width: 100%;
        height: 9rem;
        justify-content: space-evenly;
        a {
          display: flex;
          align-items: center;
          color: #fff;
          font-size: 1.6rem;
          text-transform: capitalize;
          height: 100%;
          &:hover {
            border-bottom: 0.3rem solid orangered;
          }
        }
        .menu {
          display: flex;
          align-items: center;

          .user-name {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: transparent;
            &:hover {
              border: none;
              background-color: transparent;
            }

            i {
              position: absolute;
              top: 50%;
              transform: translateY(-75%);
              right: 0;
            }
            .user-menu {
              position: absolute;
              bottom: -180%;
              right: 5%;
              width: max-content;
              a {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.363);
                backdrop-filter: blur(0.5rem);
                &:hover {
                  background-color: orangered;
                }
              }
              .settings {
                border-bottom: 1px solid rgba(0, 0, 0, 0.171);
              }
            }
          }

          span {
            margin: 0 1rem;
          }
          a {
            font-weight: normal;
            text-shadow: none;
            margin: 0 1rem;
            padding: 1.5rem 2rem;
            background-color: orangered;
            color: white;
            &:hover {
              border: none;
              background-color: #1a1a1a;
            }
          }
        }
        .number {
          display: flex;
          align-items: center;
          padding-left: 3rem;
          border-left: rgba(255, 255, 255, 0.1) 2px solid;
          height: 9rem;

          span {
            margin: 0 1rem;
          }
          .tel {
            margin-left: 1rem;
            font-size: 1.8rem;
            &:hover {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  .mobile-menu,
  .mobile-sidebar {
    display: none;
  }
}

@media (max-width: 1065px) {
  .header {
    .mobile-sidebar {
      display: block;
    }
    .mobile-menu {
      display: block;
      position: absolute;
      right: 5%;
      top: 32%;
      cursor: pointer;
      div {
        width: 35px;
        height: 5px;
        background-color: rgb(255, 249, 249);
        margin: 6px 0;
      }
    }
    .max {
      .wrap {
        margin: 0;
        .logo {
          width: 17rem;
          padding: 1rem;
          img {
            width: 100%;
          }
        }
        .callToActions {
          display: none;
        }
      }
    }
  }
}
