.footer {
  background-color: rgb(17, 17, 17);
  height: auto;
  width: 100%;
  color: white;
  .copyright {
    width: 100%;
    text-align: center;
    background-color: rgb(12, 12, 12);
    padding: 3rem 0;
    font-weight: lighter;
    color: rgb(185, 185, 185);
    font-size: 1.5rem;
  }
  .max {
    max-width: 140.5rem;
    position: relative;
    p {
      font-size: 1.3rem;
      color: rgb(185, 185, 185);
      line-height: 2;
    }
    .flex {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 10rem;
      height: auto;
      .contacts {
        width: 100%;
        img {
          width: 15rem;
        }
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        .social-media {
          display: flex;
          align-items: flex-start;

          width: 100%;
          height: 100%;
          padding: 1rem 0;
          a {
            color: white;
          }
          .fab {
            background-color: rgb(37, 37, 37);
            border-radius: 50%;
            padding: 0.8rem 1rem;
            margin: 0 0.3rem;
          }
        }
      }
      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: -2rem;
        p {
          color: white;
          font-size: 2rem;
          font-weight: bold;
        }
        a {
          color: rgb(185, 185, 185);
          font-size: 1.3rem;
          line-height: 2;
          text-align: left;
        }
      }
      .form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        h6 {
          font-size: 2rem;
          margin: 1rem 0;
          font-weight: bold;
        }
        p {
          margin: 1rem 0;
        }
        .input {
          position: relative;
          width: 100%;
          input {
            width: 100%;
            height: 3.5rem;
            padding: 0.5rem 1rem;
            outline: none;
            border: none;
          }
          .fas {
            right: 1%;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            background-color: orangered;
            color: white;
            padding: 0.5rem 0.7rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 1065px) {
  .footer {
    .max {
      max-width: 140.5rem;
      position: relative;

      .flex {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 3rem;

        .links {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          width: 100%;
          margin-top: 1rem;
          p {
            color: white;
            font-size: 2rem;
            font-weight: bold;
          }
          a {
            color: rgb(185, 185, 185);
            font-size: 1.3rem;
            line-height: 2;
            text-align: left;
          }
        }
        .form {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          width: 100%;
          margin-top: 1rem;
          h6 {
            font-size: 2rem;
            margin: 1rem 0;
            font-weight: bold;
          }
          p {
            margin: 1rem 0;
          }
          .input {
            position: relative;
            width: 100%;
            input {
              width: 100%;
              height: 3.5rem;
              padding: 0.5rem 1rem;
              outline: none;
              border: none;
            }
            .fas {
              right: 1%;
              top: 50%;
              transform: translateY(-50%);
              position: absolute;
              background-color: orangered;
              color: white;
              padding: 0.5rem 0.7rem;
            }
          }
        }
      }
    }
  }
}
