.max {
  max-width: 140.5rem;
  .last-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
}

// @media (max-width: 1065px) {
//   .max {
//     .last-section {

//     }
//   }
// }
