@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.max {
  max-width: 140.5rem;

  .testimonials {
    margin: 15rem 0;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    font-family: 'Raleway', sans-serif;
    .content {
      overflow: hidden;
      .title {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 12rem;
        width: 50%;
        hr {
          border: 2px #0074bf solid;
          background: #0074bf;
          display: block;
          margin: 2rem auto;
          width: 50%;
        }
        h1,
        p {
          margin: 0;
          padding: 0;
        }
        h1 {
          font-weight: bolder;
          color: #0074bf;
          text-align: center;
        }
      }

      .container {
        width: 100%;
        height: 100%;
        overflow: visible;
        .card {
          position: relative;
          background-color: rgb(244, 246, 248);
          width: 95%;
          height: 100%;
          padding: 2rem;
          cursor: pointer;
          text-align: center;
          transition: all ease-in-out 200ms;
          &:hover {
            box-shadow: 0px 2px 5px 1px rgba(0, 116, 191, 0.3);
            -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 116, 191, 0.3);
            -moz-box-shadow: 0px 2px 5px 1px rgba(0, 116, 191, 0.3);
            transform: scale(1.02);
          }
          .client-image {
            position: absolute;
            top: -8rem;
            left: 50%;
            transform: translateX(-50%);
            width: 12rem;
            img {
              width: 100%;
              height: 13rem;
              object-fit: fill;
              border: 0.8rem solid white;
              border-radius: 50%;
              background-color: white;
            }
          }
          .info {
            margin-top: 5rem;
            h5,
            p {
              margin: 1rem 0;
              padding: 0;
            }
            h5 {
              font-size: 2rem;
              font-weight: bolder;
              color: #0074bf;
            }
            p {
              font-size: 1.6rem;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1065px) {
  .max {
    .testimonials {
      margin-top: 15rem;
      padding: 0 5%;
      height: 100%;
      .content {
        .title {
          width: 100%;
          margin-bottom: 10rem;
          h1,
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
