.about-img {
  width: 100%;
  height: 9rem;
  overflow: hidden;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  z-index: -1;
}
//  DONT TOUCH ME FOR HEADER PURPOSES ^

// START HERE
.about-page {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
